body{
    font-family: 'Finger Paint', cursive;
}
.game{
    width: 255px;
    text-align: center;
    font-family: system-ui;
    color: #fff;
    margin: auto;
    font-weight: 500;
}

.title{
    background-color: #f25;
    padding: 5px 0;
    margin: 5px 0;
}
span{
    color: #fa0;
}

.square{
    width: 80px;
    height: 80px;
    background-color: #f25;
    float: left;
    margin: 2px;
    font-size: 50px;
    transition: 0.5s;
}
.square:hover{
    background-color: #000;
    cursor: pointer;
    transform: scale(1.1);
    
}

button{
    width: 100%;
    border: none;
    padding: 5px 0;
    margin: 0 0 5px 0;
    background-color: #fff;
    font-size: 20px;
    align-items: center;
    color: #fa0;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: #f25;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 20px;
}